@import "colors"
@import "dimensions"

.MineSweeperHeader 
  background-color: $secondary-background-color
  height: $app-header-height
  display: flex
  align-items: center
  color: white

  .Title
    width: 15rem
    font-size: 1.25rem

  .Logo 
    height: 2rem
    pointer-events: none
    margin-left: 1rem

@media (prefers-reduced-motion: no-preference) 
  .MineSweeperHeader 
    .Logo 
      animation: logo-spin infinite 20s linear

@keyframes logo-spin 
  from 
    transform: rotate(0deg) 
  to 
    transform: rotate(360deg)

@media screen and ( max-width:  60rem)
  .MineSweeperHeader
    .Logo
      margin-left: 0.5rem

    .Title
        font-size: 0.75rem

@media screen and ( max-width:  40rem)
  .MineSweeperHeader

    .Title
        display: none