@import "colors"
@import "dimensions"

.MineSweeperHeader 
  background-color: $secondary-lighter-background-color
  height: $app-header-height
  display: flex
  align-items: center
  box-shadow: 0 0 0.125rem 0.25rem $header-shadow-color

  .Logo
    height: 3rem
    width: 3rem
    padding-left: 1rem
    cursor: pointer
    background-color: $secondary-background-color

    img
      height: 3rem
      width: 3rem

  .Title
    height: 3rem
    line-height: 3rem
    width: 15rem
    font-size: 1.25rem
    background-color: $secondary-background-color
    transition: width 0.3s linear
    overflow: hidden
    color: $header-color

  .Corner
    width: 3rem
    height: 3rem

    &::after
      content: ''
      position: relative
      bottom: -2rem
      right: 0rem
      border-right: 1.5rem solid transparent
      border-top: 2rem solid $secondary-background-color
      user-select: none
      pointer-events: none
      height: 2rem
      animation: all 0.3s ease-in-out

@media (prefers-reduced-motion: no-preference) 
  .MineSweeperHeader 
    .Logo
      img
        animation: logo-spin infinite 20s linear

@keyframes logo-spin 
  from 
    transform: rotate(0deg) 
  to 
    transform: rotate(360deg)

@media screen and ( max-width:  60rem)
  .MineSweeperHeader
    .Title
      width: 0rem
      
      &::after
        display: none

    .Logo
      padding-left: 0

    .Corner::after
      bottom: -1rem
      border-right-width: 1rem
      border-top-width: 1rem