@import "colors"

.ModeControl
  display: flex
  justify-content: center
  align-items: center
  width: 100%

  .ModeLabel
    display: inherit
    justify-content: inherit
    align-items: inherit
    font-size: 1.25rem
    
  .Mode
    display: inherit
    justify-content: inherit
    align-items: inherit
    margin: 0 1rem
    padding: 0.25rem 0.5rem
    min-width: 1.5rem
    border: 0.0625rem solid $mode-border-color
    border-radius: 0.25rem
    background-color: $mode-background-color
    cursor: pointer
    color: $header-color

    &.Active
      cursor: default
      border-color: $mode-active-border-color
      background-color: $mode-active-background-color
      color: $mode-active-color

    &:not(.Active):hover
      opacity: 0.9
      background-color: $mode-active-color

    .Description
      display: inline-block

  .HelpIcon
    display: inherit
    cursor: help
    background-color: $mine-color
    border-radius: 50%
    width: 1.5rem
    height: 1.5rem;
    justify-content: center
    align-items: center

    img
      height: 2rem
      width: 2rem

@media screen and ( max-width:  40rem)
  .ModeControl
    justify-content: space-evenly

    .ModeLabel
      display: none

    .Mode
      margin: 0 0.5rem

      .Description
        display: none
