@import "colors"

.ModeControl
  display: flex
  justify-content: center
  align-items: center
  width: 100%

  .Mode
    display: flex
    justify-content: center
    align-items: center
    margin: 0 1rem
    border: 0.0625rem solid $mode-border-color
    background-color: $mode-background-color
    padding: 0.25rem
    cursor: pointer

    &.Active
      cursor: default
      border-color: $mode-active-border-color
      background-color: $mode-active-background-color
      color: $mode-active-color