/* theme */

// general
$header-color: #fff
$header-shadow-color: #dadada
$secondary-background-color: #282c34
$secondary-lighter-background-color: #e2d8d1 

// grid
$mine-background-color: #ff3b3b
$mine-color: #ffffff
$zero-mines-color: #d6d6d6
$one-mine-color: #3734ff
$two-mines-color: #007013
$three-mines-color: #d12727
$four-mines-color: #660000
$five-mines-color: #660080
$six-mines-color: #4b001f
$open-mine-background-color: #e7e7e7
$closed-mine-background-color: #8f8f8f
$flag-background-color: #e7e7e7
$question-background-color: #7f7f7f

// modes
$mode-background-color: #202020
$mode-border-color: #8f8f8f
$mode-active-border-color: #ff3b3b
$mode-active-background-color: #e7e7e7
$mode-active-color: #000

// game over
$game-over-won-background-color: RGBA(0, 112, 19, 0.8)
$game-over-lost-background-color: RGBA(255, 59, 59, 0.8)