@import 'dimensions'

.App 
  display: flex
  flex-direction: column

  &.default
    cursor: alias

  &.flag
    cursor: copy

  &.question
    cursor: help
  
  .Main
    display: flex
    justify-content: center
    height: calc(100vh - #{$app-header-height})
    overflow: auto